:root {
    --bs-myColor-000: white;
    --bs-myColor-100: #cff4fc;
    --bs-myColor-200: #9eeaf9;
    --bs-myColor-300: #6edff6;
    --bs-myColor-400: #3dd5f3;
    --bs-myColor-500: #0dcaf0;
    --bs-myColor-600: #0aa2c0;
    --bs-myColor-700: #087990;
    --bs-myColor-800: #055160;
    --bs-myColor-900: #032830;
    --bs-myColor-1000: black;
}