:root {
    --bs-myColor-000: white;
    --bs-myColor-100: #f8d7da;
    --bs-myColor-200: #f1aeb5;
    --bs-myColor-300: #ea868f;
    --bs-myColor-400: #e35d6a;
    --bs-myColor-500: #dc3545;
    --bs-myColor-600: #b02a37;
    --bs-myColor-700: #842029;
    --bs-myColor-800: #58151c;
    --bs-myColor-900: #2c0b0e;
    --bs-myColor-1000: black;
}
