:root {
    --bs-myColor-000: white;
    --bs-myColor-100: #e0cffc;
    --bs-myColor-200: #c29ffa;
    --bs-myColor-300: #a370f7;
    --bs-myColor-400: #8540f5;
    --bs-myColor-500: #6610f2;
    --bs-myColor-600: #520dc2;
    --bs-myColor-700: #3d0a91;
    --bs-myColor-800: #290661;
    --bs-myColor-900: #140330;
    --bs-myColor-1000: black;
}