:root {
    --bs-myColor-000: white;
    --bs-myColor-100: #d2f4ea;
    --bs-myColor-200: #a6e9d5;
    --bs-myColor-300: #79dfc1;
    --bs-myColor-400: #4dd4ac;
    --bs-myColor-500: #20c997;
    --bs-myColor-600: #1aa179;
    --bs-myColor-700: #13795b;
    --bs-myColor-800: #0d503c;
    --bs-myColor-900: #06281e;
    --bs-myColor-1000: black;
}