:root {
    --bs-myColor-000: white;
    --bs-myColor-100: #ffe5d0;
    --bs-myColor-200: #fecba1;
    --bs-myColor-300: #feb272;
    --bs-myColor-400: #fd9843;
    --bs-myColor-500: #fd7e14;
    --bs-myColor-600: #ca6510;
    --bs-myColor-700: #984c0c;
    --bs-myColor-800: #653208;
    --bs-myColor-900: #331904;
    --bs-myColor-1000: black;
}