:root {
    --bs-myColor-000: white;
    --bs-myColor-100: #f7d6e6;
    --bs-myColor-200: #efadce;
    --bs-myColor-300: #e685b5;
    --bs-myColor-400: #de5c9d;
    --bs-myColor-500: #d63384;
    --bs-myColor-600: #ab296a;
    --bs-myColor-700: #801f4f;
    --bs-myColor-800: #561435;
    --bs-myColor-900: #2b0a1a;
    --bs-myColor-1000: black;
}