:root {
    --bs-myColor-000: white;
    --bs-myColor-100: #fff3cd;
    --bs-myColor-200: #ffe69c;
    --bs-myColor-300: #ffda6a;
    --bs-myColor-400: #ffcd39;
    --bs-myColor-500: #ffc107;
    --bs-myColor-600: #cc9a06;
    --bs-myColor-700: #997404;
    --bs-myColor-800: #664d03;
    --bs-myColor-900: #332701;
    --bs-myColor-1000: black;
}

