:root {
    --bs-myColor-000: white;
    --bs-myColor-100: #e2d9f3;
    --bs-myColor-200: #c5b3e6;
    --bs-myColor-300: #a98eda;
    --bs-myColor-400: #8c68cd;
    --bs-myColor-500: #6f42c1;
    --bs-myColor-600: #59359a;
    --bs-myColor-700: #432874;
    --bs-myColor-800: #2c1a4d;
    --bs-myColor-900: #160d27;
    --bs-myColor-1000: black;
}